.centerPhoto{
    max-width: 500px;
    max-height: 500px;
    /* will-change: opacity; */
}

button {
  background-color: transparent;
  padding: 0;
  border: none;
}

.language_button {
  background-image: url('./icons/language icon.png');
  background-size: cover;
  width: 20px;
  height: 20px;
}